body {
	font-family: sans-serif, Verdana, Arial, Helvetica; 
	text-align: center;
}

pre {
	background-color: #DDDDFE;
	padding:10px;
}

code {
	background-color: #DDDDFE;
}

.tableHead { font-weight: bold; text-align : center; border-bottom: 1px solid #000000;}
.elmerTable { border-style: solid; border-width: 2px;}
td {padding: 5px;}

.question {
	font-weight: bold;
	color: green;
}

.answer {
	font-weight: bold;
	color: red;
}

.menu {
	float: left;
	width: 15%;
	padding:0px;
	margin: 20px;
	text-align: left;
}

.content {
	float: right;
	width: 70%;
	padding:0px;	
	margin: 20px;
	text-align: left;
}
