body {
	font-family: sans-serif, Verdana, Arial, Helvetica; 

}

.all {
	text-align: center;
}

pre {
	background-color: #DDDDFE;
	padding:10px;
}

code {
	background-color: #DDDDFE;
}

.tableHead { font-weight: bold; text-align : center; border-bottom: 1px solid #000000;}
.elmerTable { border-style: solid; border-width: 2px;}
td {padding: 5px;}

.question {
	font-weight: bold;
	color: green;
}

.answer {
	font-weight: bold;
	color: red;
}

.menu {
	float: left;
	width: 15%;
	padding:0px;
	margin: 20px;
	text-align: left;
}

.content {
	float: right;
	width: 70%;
	padding:0px;	
	margin: 20px;
	text-align: left;
}

#middle {
	margin: 0px 20px 20px 170px; /* Incorrect value fed to ie5win */
	padding: 4px 4% 10px 4%;
	border: 0px;
	text-align: left;
/*	background: #fff url(../image/tinkertoy_plane_right.jpg) no-repeat; */
	}

#left {
	position: absolute;
	width: 150px; /* Incorrect value fed to ie5win */
	top: 83px;
	left: 20px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	border-right: 1px dotted black;
	text-align: left;
/*	background: #fff url(../image/tinkertoy_plane_left.jpg) no-repeat; */
}

#right {
	position: absolute;
	width: 150px; /* Incorrect value fed to ie5win */
	top: 100px;
	right: 20px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	border: 1px dotted black;
	background: #fff;
	text-align: left;
}	

#top {
	margin: 12px 12px 12px 12px;
	padding: 10px 10px 10px 10px;
	height: 50px;
	border-bottom: 1px dotted black;
	background: #fff;
	text-align: left;
}	

#copyrights {
	padding: 100px 0px 0px 0px;
}


.copyright {
	padding: 0px; 0px; 0px; 0px;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	text-align: left;
}

.comment {
	color: red;
}
