Peter Råback <peter.raback@csc.fi>                                      <raback@04224531-1f84-46d8-96ce-875b9e37dce3>
Juha Ruokolainen <juha.ruokolainen@csc.fi>                              <juhar@04224531-1f84-46d8-96ce-875b9e37dce3>
Juha Ruokolainen <juha.ruokolainen@csc.fi>                              <jpr@04224531-1f84-46d8-96ce-875b9e37dce3>
Mikko Lyly <mikko.lyly@csc.fi>                                          <mlsf@04224531-1f84-46d8-96ce-875b9e37dce3>
Mikko Lyly <mikko.lyly@csc.fi>                                          <mlyly@04224531-1f84-46d8-96ce-875b9e37dce3>
Juha Vierinen <juha.vierinen@csc.fi>                                    <vierinen@04224531-1f84-46d8-96ce-875b9e37dce3>
Mika Malinen <mika.malinen@csc.fi>                                      <mmalinen@04224531-1f84-46d8-96ce-875b9e37dce3>
Antti Pursula <antti.pursula@csc.fi>                                    <apursula@04224531-1f84-46d8-96ce-875b9e37dce3>
Thomas Zwinger <thomas.zwinger@csc.fi>                                  <tzwinger@04224531-1f84-46d8-96ce-875b9e37dce3>
Thomas Zwinger <thomas.zwinger@csc.fi>                                  <zwinger@04224531-1f84-46d8-96ce-875b9e37dce3>
Olivier Gagliardini <olivier.gagliardini@ujf-grenoble.fr>               <gagliar@04224531-1f84-46d8-96ce-875b9e37dce3>
Eelis Takala <ettaka@users.sf.net>                                      <ettaka@04224531-1f84-46d8-96ce-875b9e37dce3>
Erik Edelmann <erik.edelmann@csc.fi>                                    <edelmann@04224531-1f84-46d8-96ce-875b9e37dce3>
vilidious                                                               <vilidious@04224531-1f84-46d8-96ce-875b9e37dce3>
Rupert Gladstone <rupertgladstone1972@gmail.com>                        <rupertgladstone@04224531-1f84-46d8-96ce-875b9e37dce3>
Jonas Thies <jonthies@users.sf.net>                                     <jonthies@04224531-1f84-46d8-96ce-875b9e37dce3>
Adam C. Powell, IV <hazelsct@debian.org>                                <hazelsct@04224531-1f84-46d8-96ce-875b9e37dce3>
Fabien Gillet-Chaulet <fabien.gillet-chaulet@lgge.obs.ujf-grenoble.fr>  <fgillet@04224531-1f84-46d8-96ce-875b9e37dce3>
Fabien Gillet-Chaulet <fabien.gillet-chaulet@lgge.obs.ujf-grenoble.fr>  <gillet@04224531-1f84-46d8-96ce-875b9e37dce3>
Iikka Virkkunen <iikka@trueflaw.com>                                    <iikka@04224531-1f84-46d8-96ce-875b9e37dce3>
Sampo Sillanpää <sampo.sillanpaa@csc.fi>                                <sjsillan@04224531-1f84-46d8-96ce-875b9e37dce3>
baarman                                                                 <baarman@04224531-1f84-46d8-96ce-875b9e37dce3>
Esko Järvinen <esko.jarvinen@csc.fi>                                    <ejarvine@04224531-1f84-46d8-96ce-875b9e37dce3>
Sami Ilvonen <sami.ilvonen@csc.fi>                                      <ilvonen@04224531-1f84-46d8-96ce-875b9e37dce3>
Mikko Byckling <mikko.byckling@csc.fi>                                  <mbycklin@04224531-1f84-46d8-96ce-875b9e37dce3>
Martina Schäfer <martina.schafer@fmi.fi>                                <mschafer12@04224531-1f84-46d8-96ce-875b9e37dce3>
allura                                                                  <allura@04224531-1f84-46d8-96ce-875b9e37dce3>
Basile de Fleurian <bdefleur@users.sf.net>                              <bdefleur@04224531-1f84-46d8-96ce-875b9e37dce3>
Pirjo-Leena Forsström <pirjo-leena.forsstrom@csc.fi>                    <forsstro@04224531-1f84-46d8-96ce-875b9e37dce3>
Hakime Seddik <hakime@lowtem.hokudai.ac.jp>                             <seddik@04224531-1f84-46d8-96ce-875b9e37dce3>
